.task-toolbar {
    background: #d6236b;
    position: fixed;
    z-index: 50;
}
h1 {
    margin: 0 16px 0 14px;
}
table {
    width: 100%;
    z-index: 1;
}
.padding-container {
    width: 100%;
    padding-top: 64px;
}
.project-panel {
    margin: 24px;
    &__title {
        font-size: 15px;
        font-weight: 500;
    }
    &__name {
        margin-left: 30px;
        width: 400px;
    }
    &__status {
        margin-left: 30px;
        width: 400px;
    }
    &__operator {
        margin-left: 30px;
        width: 400px;
    }
    &__partner {
        margin-left: 30px;
        width: 400px;
    }
    &__note {
        margin-left: 30px;
        width: 400px;
    }
}

.task-panel {
    margin: 24px;
}
.borderLine {
    background-color:#a71751;
    width: 2px;
    height: 70%;
    margin: 10px;
}
th.mat-sort-header-sorted {
    color: black;
}
.spacer {
    flex: 1;
}
.slide-toggle {
    font-size: medium;
}
.filter {
    font-size: medium;
    width: 20%;
    margin-right: 30px;
}
.add_itme_button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    
}
.task_card {
    margin: 24px;
    &__header {
        display: flex;
    }
    &__title {
        font-size: 15px;
        font-weight: 500;
        margin-top: 6px;
        margin-left: 8px;
    }
    &__item {
        align-items: center;
        margin-right: 30px;
        margin-left: auto;
    }
    &__filter {
        font-size: medium;
        width: 250px;
    }
    &__slide-toggle {
        font-size: medium;
        margin-left: 30px;
    }
}