<mat-toolbar class="attendance-toolbar">
    <mat-icon>event_note</mat-icon>
    <h1>Attendance</h1>

    <button mat-button (click)="shift_year(-1)">←</button>
    <button mat-button (click)="shift_year(1)">→</button>

    <div class="borderLine"></div>
    <button mat-button (click)="click_Daily()">
        Daily
    </button>
    <button mat-button (click)="click_Monthly()">
        Monthly
    </button>
    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu"> Display </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeDisplay('bar')"> Bar </button>
      <button mat-menu-item (click)="changeDisplay('line')"> Line </button>
    </mat-menu>
</mat-toolbar>
<div class="canvas_container">
    <div style="display: block">
        <canvas class="chart_canvas" baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType">
        </canvas>
    </div>
</div>