.attendance-toolbar {
    background: #d6236b;
    position: fixed;
    z-index: 50;
}
h1 {
    margin: 0 16px 0 14px;
}
.borderLine {
    background-color:#a71751;
    width: 2px;
    height: 70%;
    margin: 10px;
}
.spacer {
    flex: 1;
}
.display_type {
    font-size: medium;
}
.canvas_container {
    padding: 86px 24px 24px 24px;
    position: relative;
    max-width: 1200px;
}
.chart_canvas {
    height: 1000px;
}