<mat-toolbar class="attendance-toolbar">
    <mat-icon>event_note</mat-icon>
    <h1>Attendance</h1>

    <button mat-button (click)="shift_year(-1)">
        <mat-icon> arrow_left </mat-icon>
    </button>
    <button mat-button (click)="shift_year(1)">
        <mat-icon> arrow_right </mat-icon>
    </button>

    <div class="borderLine"></div>

    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu>
        <button mat-menu-item [matMenuTriggerFor]="DisplayMenu">Display Type</button>
        <button mat-menu-item [matMenuTriggerFor]="ChartMenu"> Chart Type </button>
    </mat-menu>
    <mat-menu #DisplayMenu="matMenu">
      <button mat-menu-item routerLink="/attendance"> Daily </button>
      <button mat-menu-item routerLink="/attendance/monthly"> Monthly </button>
      <button mat-menu-item routerLink="/attendance/chart"> Chart </button>
    </mat-menu>
    <mat-menu #ChartMenu="matMenu">
      <button mat-menu-item (click)="changeDisplay('bar')"> Bar </button>
      <button mat-menu-item (click)="changeDisplay('line')"> Line </button>
    </mat-menu>
    <span class="spacer"></span>
    <mat-form-field class="total_work_days">
        <mat-label>Total days</mat-label>
        <input matInput class="total_work_days__text" type="text" readonly="true" [(ngModel)]="totalDays">
    </mat-form-field>
    <mat-form-field class="total_work_time">
        <mat-label>Total Time</mat-label>
        <input matInput class="total_work_time__text" type="text" readonly="true" [(ngModel)]="totalTime">
    </mat-form-field>
    
</mat-toolbar>
<div class="canvas_container">
    <mat-card class="canvas-card">
        <div style="display: block">
            <canvas class="chart_canvas" baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [chartType]="barChartType">
            </canvas>
        </div>
    </mat-card>
</div>