<mat-toolbar class="attendance-toolbar">
    <mat-icon>event_note</mat-icon>
    <h1>Attendance</h1>

    <button mat-button (click)="shift_year(-1)">←</button>
    <button mat-button (click)="shift_year(1)">→</button>

    <div class="borderLine"></div>
    <button mat-button [matMenuTriggerFor]="DisplayMenu"> Display Type </button>
    <mat-menu #DisplayMenu="matMenu">
      <button mat-menu-item (click)="click_Daily()"> Daily </button>
      <button mat-menu-item (click)="click_Chart()"> Chart </button>
    </mat-menu>
    <span class="spacer"></span>
    <mat-form-field class="total_work_days">
        <mat-label>Total days</mat-label>
        <input matInput class="total_work_days__text" type="text" readonly="true" [(ngModel)]="totalDays">
    </mat-form-field>
    <mat-form-field class="total_work_time">
        <mat-label>Total Time</mat-label>
        <input matInput class="total_work_time__text" type="text" readonly="true" [(ngModel)]="totalTime">
    </mat-form-field>
</mat-toolbar>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="attendance-table">

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>
        <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Month </th>
            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
        </ng-container>
        <ng-container matColumnDef="totalDays">
            <th mat-header-cell *matHeaderCellDef> TotalDays </th>
            <td mat-cell *matCellDef="let element"> {{element.totalDays}} </td>
        </ng-container>
        <ng-container matColumnDef="totalTime">
            <th mat-header-cell *matHeaderCellDef> TotalTime </th>
            <td mat-cell *matCellDef="let element"> {{element.totalTime}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>