.attendance-toolbar {
    background: #d6236b;
    position: fixed;
    z-index: 50;
}
h1 {
    margin: 0 16px 0 14px;
}
table {
    width: 100%;
    z-index: 1;
}
.table-container {
    padding-top: 64px;
}
.table-card {
    margin: 24px;
}
.borderLine {
    background-color:#a71751;
    width: 2px;
    height: 70%;
    margin: 10px;
}
.spacer {
    flex: 1;
}
.input_time {
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    font-family: Roboto;
}
.input_note {
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    font-family: Roboto;
}
.saturday_background {
    background: #5f5f5f;
}
.sunday_background {
    background: #6d6d6d;
}
.total_work_time {
    width: 120px;
    font-size: medium;
    &__text {
        font-size: large;
        text-align: right;
    }
}
.total_work_days {
    width: 120px;
    font-size: medium;
    margin-right: 24px;
    &__text {
        font-size: large;
        text-align: right;
    }
}