<mat-toolbar class="home-toolbar">
    <mat-icon>home</mat-icon>
    <h1>Home</h1>
    <div class="borderLine"></div>
</mat-toolbar>
<div class="container">
    <mat-grid-list cols="8" rowHeight="10px">
        <mat-grid-tile [colspan]="3" [rowspan]="11">
            <mat-card class="date_card">
                <mat-card-title> Current Time </mat-card-title>
                <p class="today"> 2020 / 07 / 25 (土) </p>
                <p class="time"> 18:08 </p>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="5" [rowspan]="40">
            <mat-card class="calendar_card">
                <mat-card-title> Calendar </mat-card-title>
                <igx-calendar selection="multi" class="calendar"></igx-calendar>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="15">
            <mat-card class="stamping_card">
                <mat-card-title> Stamping </mat-card-title>
                <mat-button-toggle-group class="stamping_toggle">
                    <mat-button-toggle class="stamping_start">
                        <mat-icon> apartment </mat-icon>
                        <p> Start </p>
                    </mat-button-toggle>
                    <mat-button-toggle class="stamping_end">
                        <mat-icon> house </mat-icon>
                        <p> End </p>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="24">
            <mat-card class="stamping_time_card">
                <mat-card-title> Attendance </mat-card-title>
                <div class="attendance">
                    <mat-form-field>
                        <mat-label> Start Time </mat-label>
                        <input matInput type="text" readonly="true" [(ngModel)]="startTime">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label> End Time </mat-label>
                        <input matInput type="text" readonly="true" [(ngModel)]="endTime">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label> Rest Time </mat-label>
                        <input matInput type="text" readonly="true" [(ngModel)]="restTime">
                    </mat-form-field>
                </div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="5" [rowspan]="40">
            <mat-card class="news_card">
                <mat-card-title> News </mat-card-title>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="30">
            <mat-card class="brank_card">

            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>
